
.footer {

  &_menu-w {
    background: $blue_light;
    padding: 42px 0 47px;
  }

  &_menu-list {
    @extend %clearfix;
    color: $white;

    > li {
      float: left;
      width: 20%;
    }
  }

  &-menu {
    padding-top: 8px;

    li {
      margin-top: 15px;
    }

    .gl_link {
      color: $white;
    }
  }

  &-bottom {
    line-height: 80px;
    background: #2d2d2d;

    .section_inner {
      margin-bottom: 0;
      position: relative;
    }
  }

  &-share {
    float: right;
    width: 76%;
    margin-right: -1%;

    li {
      float: left;
      width: 33%;
    }
  }
}

.copyright {
  float: left;
  color: $white;
  max-width: 25%;

  &-text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.6;
  }
}

.go_top {
  @extend %icon_pseudo;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  right: 35px;
  background: #4378d1;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 4px 4px 0 0;
  line-height: 40px;

  &:before {
    color: $white;
    content: $i-uparrow;
    font-size: 30px;
    line-height: 42px;
  }

}

$rectWidth: $content-max-w - 20;

.rect_1024 {
  @extend %hor_centr;
  position: absolute;
  width: $rectWidth;
  max-width: 100%;
  top: 0;
  bottom: 0;
  border: solid red;
  border-width: 0 1px;
  z-index: 10;
  pointer-events: none;

  &:after {
    @extend %hor_centr;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: red;
  }
}

._h-370 {
  height: 370px;
}

._h-412 {
  height: 412px;
}

._h-495 {
  height: 495px;
}

._h-535 {
  height: 535px;
}

._h-555 {
  height: 555px;
}

// **********  text

.gl_link {

  &.white_link {
    color: $white;
  }
}

.block_tile {
  font: 27px $GothamProMedium;
}

.box_title {
  @extend %clearfix;
  display: block;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  font: 14px/30px $GothamProMedium;
  text-transform: uppercase;
  margin-top: 5px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.clr_red {
  color: $red;
}

.clr_green {
  color: $green;
}

.clr_black {
  color: $black;
}

.clr_gray {
  color: #696969;
}

.clr_gray_2 {
  color: #a2a7b0;
}

.clr_blue_lighten {
  color: $blue_lighten;
}

.fw_md {
  font-family: $GothamProMedium;
}

@for $i from 10 through 40 {
  .fz_#{$i} {
    font-size: 0px +$i
  }
}


