
.chart_holder {
  position: relative;

  img {
    display: block;
    max-width: 100%;
  }
}

.chart_container {
  position: relative;
  padding-top: 62px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }

}

.chart_footer {
  @extend %clearfix;
  z-index: 2;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 46px;
  padding: 6px 13px;
  background: transparentize(#f5f7fa, .1);

  &-info {
    float: left;
    margin: 0 3px;
    color: $white;
    height: 27px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 27px;
    border-radius: 2px;

    &.info_green {
      background: $green;
    }
    &.info_blue {
      background: $blue_dark_2;
    }
    &.info_red {
      background: $red_light;
    }
  }
}

.chat_holder {
  position: relative;
}

.chat_w {
  @extend %translate3d;
  @include transition_all(transform .3s);
  padding-top: 40px;
  padding-bottom: 52px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chart_controls {
  @extend %clearfix;

  > li {
    float: left;
  }
}

.msg_unit {
  //position: relative;
  border-bottom: 1px solid #e0e3e4;
  border-radius: 0 0 1px 1px;
  margin-top: 4px;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  height: 3px;
  //  bottom: -1px;
  //  border-radius: 0 0 1px 1px;
  //  left: 2px;
  //  right: 2px;
  //  box-shadow: 0 1px 1px #eff2f4;
  //}

  &_inner {
    //position: relative;
    //z-index: 1;
    padding: 10px 13px;
    font-size: 13px;
    background: #fff;
    line-height: 1.33;
  }

  &:first-child {
    margin-top: 0;
  }

  &._warning {
    border-color: $pink_dark;

    &:before {
      box-shadow: 0 1px 1px #f5b7ce;
    }
  }
}

.msg_user_name {
  cursor: pointer;
  position: relative;
  font-family: $GothamProMedium;
}

.msg_text {
  color: $black;
}

.chat_content {
  height: 100%;
}

.chat_msg_list {
  padding: 6px 4px;
}

.chat_header {
  @extend %clearfix;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: $white;
  background: $blue_light;
  padding: 2px 6px 0 15px;
  line-height: 38px;
  border-radius: 2px 2px 0 0;
}

.chat_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 3px;
}

.msg_btn {
  @extend %icon_pseudo;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 48px;
  background: none;
  text-align: center;
  color: #7eadfb;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    font-size: 22px;
    line-height: 22px;
    margin: -12px 0 0 -12px;
    content: $i-chatsendbutton;
  }

}

.tab_switcher {
  @extend %clearfix;
  position: relative;

  > li {
    float: left;
  }

  .tab_btn {
    @include transition_all(color .3s);
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    color: #858585;

    &:before {

    }

    &:hover {
      color: $default_t_color;
    }

    &.active {
      cursor: default;
      color: $default_t_color;

      &:before {
      }
    }
  }
}

.tab_line {
  @include transition_all(width .3s, left .3s);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: $blue_light_2;
}

.tab_box {
  @extend %clearfix;
  position: relative;

  &._split-mode {
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;
      background: #eaecf0;
    }
  }
}

.order_form {
  float: left;
  width: 50%;
}

.order_glass {
  float: left;
  width: 50%;
  margin-bottom: 50px;
  padding-right: 22px;

  &-holder {
    @extend %clearfix;
    margin-right: -1%;
  }

  &-val {
    font-size: 13px;
    color: #858585;
    text-transform: none;
  }

}
