@font-face {
  font-family: 'exmo_icons';
  src:  url('fonts/exmo_icons.eot?26afp6');
  src:  url('fonts/exmo_icons.eot?26afp6#iefix') format('embedded-opentype'),
    url('fonts/exmo_icons.ttf?26afp6') format('truetype'),
    url('fonts/exmo_icons.woff?26afp6') format('woff'),
    url('fonts/exmo_icons.svg?26afp6#exmo_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'exmo_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chat_refresh:before {
  content: "\e900";
}
.i-checkmark:before {
  content: "\e901";
}
.i-checkmark2:before {
  content: "\e902";
}
.i-close:before {
  content: "\e903";
}
.i-downarrow:before {
  content: "\e90f";
}
.i-uparrow:before {
  content: "\e904";
}
.i-downarrow2:before {
  content: "\e905";
}
.i-email:before {
  content: "\e906";
}
.i-location:before {
  content: "\e907";
}
.i-options:before {
  content: "\e908";
}
.i-photosecure:before {
  content: "\e909";
}
.i-search:before {
  content: "\e90a";
}
.i-sound_off:before {
  content: "\e90b";
}
.i-sound_on:before {
  content: "\e90c";
}
.i-terminal:before {
  content: "\e90d";
}
.i-upload_icon:before {
  content: "\e90e";
}

