$icomoon-font-path: "fonts" !default;

$i-location2: "\e912";
$i-chartsunexpand: "\e914";
$i-photosecure2: "\e915";
$i-chartsexpand: "\e913";
$i-chatsendbutton: "\e910";
$i-close2: "\e911";
$i-chat_refresh: "\e900";
$i-checkmark: "\e901";
$i-checkmark2: "\e902";
$i-close: "\e903";
$i-downarrow: "\e90f";
$i-uparrow: "\e904";
$i-downarrow2: "\e905";
$i-email: "\e906";
$i-location: "\e907";
$i-options: "\e908";
$i-photosecure: "\e909";
$i-search: "\e90a";
$i-sound_off: "\e90b";
$i-sound_on: "\e90c";
$i-terminal: "\e90d";
$i-upload_icon: "\e90e";

